# alpine/crontab
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Run backup every day at 02:00 and send output to stdout of PID 1
0 2 * * * /usr/local/bin/backup >> /proc/1/fd/1 2>&1

